# Вебинар 5. Ранжирование и Гибридные рекоммендательные системы
# Урок 5. Поиск похожих товаров и пользователей. Гибридные рекомендательные системы

2) Сделать грид серч текущей модели, смотрите на метрику precision@5, считаем на тесте нашей функцией

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix, coo_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import bm25_weight, tfidf_weight

from lightfm import LightFM

# Функции из 1-ого вебинара
import os, sys

module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from lightfm.evaluation import precision_at_k, recall_at_k

from metrics import precision_at_k as custom_precision, recall_at_k
from utils import prefilter_items

In [3]:
data = pd.read_csv('./retail_train.csv')

item_features = pd.read_csv('./product.csv')
user_features = pd.read_csv('./hh_demographic.csv')

# column processing
item_features.columns = [col.lower() for col in item_features.columns]
user_features.columns = [col.lower() for col in user_features.columns]

item_features.rename(columns={'product_id': 'item_id'}, inplace=True)
user_features.rename(columns={'household_key': 'user_id'}, inplace=True)

# train test split
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

data_train.head(2)

   user_id    basket_id  day  ...  week_no  coupon_disc  coupon_match_disc
0     2375  26984851472    1  ...        1          0.0                0.0
1     2375  26984851472    1  ...        1          0.0                0.0

[2 rows x 12 columns]

In [4]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [5]:
item_features.head(2)

   item_id  manufacturer  ...           sub_commodity_desc curr_size_of_product
0    25671             2  ...          ICE - CRUSHED/CUBED                22 LB
1    26081             2  ...  NO SUBCOMMODITY DESCRIPTION

[2 rows x 7 columns]

In [6]:
user_features.head(2)

  age_desc marital_status_code  ... kid_category_desc user_id
0      65+                   A  ...      None/Unknown       1
1    45-54                   A  ...      None/Unknown       7

[2 rows x 8 columns]

In [7]:
user_features['age_desc'].unique()

array(['65+', '45-54', '25-34', '35-44', '19-24', '55-64'], dtype=object)

In [8]:
user_features['marital_status_code'].unique()

array(['A', 'U', 'B'], dtype=object)

In [9]:
user_features['household_size_desc'].unique()

array(['2', '3', '4', '1', '5+'], dtype=object)

## 1. Filter items

In [10]:
data_train.head()

   user_id    basket_id  day  ...  week_no  coupon_disc  coupon_match_disc
0     2375  26984851472    1  ...        1          0.0                0.0
1     2375  26984851472    1  ...        1          0.0                0.0
2     2375  26984851472    1  ...        1          0.0                0.0
3     2375  26984851472    1  ...        1          0.0                0.0
4     2375  26984851472    1  ...        1          0.0                0.0

[5 rows x 12 columns]

In [11]:
n_items_before = data_train['item_id'].nunique()

data_train_filtered = prefilter_items(data_train, take_n_popular=5000, item_features=item_features)

n_items_after = data_train_filtered['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

/content/utils.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'] = data['sales_value'] / (np.maximum(data['quantity'], 1))

Decreased # items from 86865 to 5001

## 2. Prepare data set
### 2.1 Prepare csr train matrix

In [12]:
user_item_matrix = pd.pivot_table(data_train_filtered, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

# переведем в формат sparse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(2)

item_id  117847    818981    819255    ...  16100266  16729299  16729415
user_id                                ...
1             0.0       0.0       0.0  ...       0.0       0.0       0.0
2             0.0       0.0       0.0  ...       0.0       0.0       0.0

[2 rows x 5001 columns]

### 2.2 Prepare CSR test matrix

In [13]:
data_test = data_test[data_test['item_id'].isin(data_train['item_id'].unique())]

test_user_item_matrix = pd.pivot_table(data_test, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

test_user_item_matrix = test_user_item_matrix.astype(float) # необходимый тип матрицы для implicit

sparse_test_user_item = csr_matrix(test_user_item_matrix).tocsr()

In [14]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

## 3. Prepare user and item features

In [15]:
user_feat = pd.DataFrame(user_item_matrix.index)
user_feat = user_feat.merge(user_features, on='user_id', how='left')
user_feat.set_index('user_id', inplace=True)
user_feat.head(2)

        age_desc marital_status_code  ... household_size_desc kid_category_desc
user_id                               ...
1            65+                   A  ...                   2      None/Unknown
2            NaN                 NaN  ...                 NaN               NaN

[2 rows x 7 columns]

In [16]:
user_feat.shape

(2497, 7)

In [17]:
item_feat = pd.DataFrame(user_item_matrix.columns)
item_feat = item_feat.merge(item_features, on='item_id', how='left')
item_feat.set_index('item_id', inplace=True)

item_feat.head(2)

         manufacturer department  ... sub_commodity_desc curr_size_of_product
item_id                           ...
117847          450.0  NUTRITION  ...      SOY/RICE MILK                64 OZ
818981          194.0    GROCERY  ...  ALL FAMILY CEREAL              10.4 OZ

[2 rows x 6 columns]

In [18]:
item_feat.shape

(5001, 6)

### Encoding features

In [19]:
user_feat_lightfm = pd.get_dummies(user_feat, columns=user_feat.columns.tolist())
item_feat_lightfm = pd.get_dummies(item_feat, columns=item_feat.columns.tolist())

In [20]:
user_feat_lightfm.head(2)

         age_desc_19-24  ...  kid_category_desc_None/Unknown
user_id                  ...
1                     0  ...                               1
2                     0  ...                               0

[2 rows x 41 columns]

### Init model

In [21]:
model = LightFM(no_components=40,
                loss='bpr', # "logistic","bpr"
                learning_rate=0.01, 
                item_alpha=0.4,
                user_alpha=0.1, 
                random_state=42,
                k=5,
                n=15,
                max_sampled=100)

### Train

In [22]:
user_features=csr_matrix(user_feat_lightfm.values).tocsr()
item_features=csr_matrix(item_feat_lightfm.values).tocsr()

sample_weight=coo_matrix(user_item_matrix)

In [23]:
item_features.shape, user_features.shape

((5001, 2718), (2497, 41))

In [24]:
model.fit((sparse_user_item > 0) * 1,  # user-item matrix из 0 и 1
          sample_weight=sample_weight,
          user_features=user_features,
          item_features=item_features,
          epochs=20, 
          num_threads=20,
          verbose=True)

Epoch: 100%|██████████| 20/20 [00:40<00:00,  2.01s/it]

In [25]:
from itertools import product

def dict_configs(d):
    for vcomb in product(*d.values()):
        yield dict(zip(d.keys(), vcomb))

param_grid = {
            "no_components": np.arange(25,55,25),
            "loss": ["bpr"], 
            "learning_rate": np.arange(.01,.1,.05),
            "item_alpha": np.arange (.01,.1,.05),
            "user_alpha": np.arange (.01,.1,.05),
            "num_epochs": np.arange(10,71,30),
            "random_state":[42],
        }

def grid_search(sparse_matrix_train,
                sample_weight, 
                user_features,
                item_features,
                num_threads=20):

    for hyperparams in dict_configs(param_grid):
        num_epochs = hyperparams.pop("num_epochs")
       
        model = LightFM(**hyperparams)
        
        model.fit((sparse_matrix_train > 0) * 1,
                  sample_weight=sample_weight,
                  user_features=user_features,
                  item_features=item_features,
                  epochs=num_epochs, 
                  num_threads=num_threads,
                  verbose=True)

        score = precision_at_k(model,
                               sparse_matrix_train,
                               user_features=user_features,
                               item_features=item_features,
                               k=5).mean()

        hyperparams["num_epochs"] = num_epochs

        yield (score, hyperparams, model)

In [26]:
from lightfm.datasets import fetch_movielens
(score, hyperparams, model) = max(grid_search(sparse_user_item,
                                              sample_weight=sample_weight,
                                              user_features=user_features,
                                              item_features=item_features,
                                             ),
                                  key=lambda x: x[0])

print("Best score {} at {}".format(score, hyperparams))

Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.29s/it]
Epoch: 100%|██████████| 40/40 [00:51<00:00,  1.30s/it]
Epoch: 100%|██████████| 70/70 [01:30<00:00,  1.29s/it]
Epoch: 100%|██████████| 10/10 [00:13<00:00,  1.30s/it]
Epoch: 100%|██████████| 40/40 [00:51<00:00,  1.30s/it]
Epoch: 100%|██████████| 70/70 [01:30<00:00,  1.30s/it]
Epoch: 100%|██████████| 10/10 [00:13<00:00,  1.30s/it]
Epoch: 100%|██████████| 40/40 [00:51<00:00,  1.30s/it]
Epoch: 100%|██████████| 70/70 [01:31<00:00,  1.30s/it]
Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.29s/it]
Epoch: 100%|██████████| 40/40 [00:51<00:00,  1.30s/it]
Epoch: 100%|██████████| 70/70 [01:30<00:00,  1.29s/it]
Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.30s/it]
Epoch: 100%|██████████| 40/40 [00:51<00:00,  1.30s/it]
Epoch: 100%|██████████| 70/70 [01:30<00:00,  1.29s/it]
Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.29s/it]
Epoch: 100%|██████████| 40/40 [00:51<00:00,  1.29s/it]
Epoch: 100%|██████████| 70/70 [01:30<00:00,  1.30s/it]
Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.29s/it]
Epoch: 100%|██████████| 40/40 [00:51<00:00,  1.29s/it]
Epoch: 100%|██████████| 70/70 [01:30<00:00,  1.29s/it]
Epoch: 100%|██████████| 10/10 [00:12<00:00,  1.29s/it]
Epoch: 100%|██████████| 40/40 [00:51<00:00,  1.29s/it]
Epoch: 100%|██████████| 70/70 [01:30<00:00,  1.29s/it]
Epoch: 100%|██████████| 10/10 [00:24<00:00,  2.47s/it]
Epoch: 100%|██████████| 40/40 [01:40<00:00,  2.51s/it]
Epoch: 100%|██████████| 70/70 [02:54<00:00,  2.49s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.50s/it]
Epoch: 100%|██████████| 40/40 [01:39<00:00,  2.49s/it]
Epoch: 100%|██████████| 70/70 [02:55<00:00,  2.51s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.54s/it]
Epoch: 100%|██████████| 40/40 [01:41<00:00,  2.53s/it]
Epoch: 100%|██████████| 70/70 [02:55<00:00,  2.50s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.52s/it]
Epoch: 100%|██████████| 40/40 [01:39<00:00,  2.49s/it]
Epoch: 100%|██████████| 70/70 [02:56<00:00,  2.52s/it]
Epoch: 100%|██████████| 10/10 [00:24<00:00,  2.48s/it]
Epoch: 100%|██████████| 40/40 [01:40<00:00,  2.50s/it]
Epoch: 100%|██████████| 70/70 [02:53<00:00,  2.48s/it]
Epoch: 100%|██████████| 10/10 [00:24<00:00,  2.49s/it]
Epoch: 100%|██████████| 40/40 [01:38<00:00,  2.46s/it]
Epoch: 100%|██████████| 70/70 [02:53<00:00,  2.48s/it]
Epoch: 100%|██████████| 10/10 [00:24<00:00,  2.49s/it]
Epoch: 100%|██████████| 40/40 [01:40<00:00,  2.50s/it]
Epoch: 100%|██████████| 70/70 [02:53<00:00,  2.48s/it]
Epoch: 100%|██████████| 10/10 [00:25<00:00,  2.51s/it]
Epoch: 100%|██████████| 40/40 [01:38<00:00,  2.47s/it]
Epoch: 100%|██████████| 70/70 [02:54<00:00,  2.49s/it]

Best score 0.4385262429714203 at {'no_components': 25, 'loss': 'bpr', 'learning_rate': 0.01, 'item_alpha': 0.01, 'user_alpha': 0.060000000000000005, 'random_state': 42, 'num_epochs': 40}